@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@font-face {
  font-family: "burtons";
  src: url("../public/Burtons.otf");
}

#footer {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 13px;
  padding: 8px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 12px;
}

.owner {
  padding: 50px;
}

.black {
  background-color: black;
}
